<nav>
    <div class="nav-container">
        <ul>
            <li>
                <a href="" class="nav-link">Work</a>
            </li>
            <li>
                <a href="" class="nav-link">About</a>
            </li>
            <li>
                <a href="" class="nav-link">Games</a>
            </li>
        </ul>
    </div>
</nav>