<%- include('partials/head') %>
    <%- include('partials/navbar') %>

        <h1>About Me Page</h1>
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus labore accusantium ut perspiciatis esse
                earum. Porro optio rem amet alias facere dolore in, asperiores ipsam, doloribus dicta sint recusandae.
                Quos?
                Nisi consequuntur quis repellat. Odit modi exercitationem ab officia aperiam quo neque, fugiat sunt
            </p>
            <img src="" alt="">
        </div>

        <%- include('partials/footer') %>