<%- include('partials/head') %>
    <%- include('partials/navbar') %>

        <main class="main">
            <header class="header-container">
                <div class="header-item">
                    <p>Hello and welcome! My name is Marc Rios.</p>
                    <h1>I am a Full Stack Web Developer From the Los Angeles area</h1>
                    <p>
                        This should show the different tech skills i have, like
                        languages, frameworks, libraries.. Lorem ipsum dolor sit
                        amet, consectetur adipisicing elit. Natus architecto sit
                        vitae ducimus voluptatibus ipsa voluptatem minus ex dolore
                        velit, officiis sed sunt quos assumenda doloremque doloribus,
                        dolor, vel ratione! Lorem ipsum dolor sit amet consectetur,
                        adipisicing elit. Maxime minima doloribus perferendis omnis alias,
                        ipsum eligendi quo earum commodi soluta blanditiis vero, sunt,
                        amet reprehenderit officiis sequi debitis? Nisi, omnis.
                    </p>
                    <a href="#featured-projects" id="see-projects">See Projects</a>
                    <!-- img tag? for down arrow icon. Also, both text and logo link to some place -->
                </div>
                <div class="header-item">
                    <img src="/images/building-websites.svg"
                        alt="simple illustration of 3 people building a giant web browser" id="building-websites">
                </div>
            </header>
            <section id="featured-projects">
                <h2>Projects</h2>
                <div class="project">
                    <h3>Name of Project One</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste fugit
                    debitis, quae, totam natus sapiente odit, saepe rerum ipsam maiores
                    eligendi error consequatur nulla doloribus repudiandae expedita
                    similique quisquam exercitationem.</p>
                </div>
                <div class="project">
                    <h3>Name of Project Two</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste fugit
                    debitis, quae, totam natus sapiente odit, saepe rerum ipsam maiores
                    eligendi error consequatur nulla doloribus repudiandae expedita
                    similique quisquam exercitationem.</p>
                </div>
            </section>
        </main>

        <%- include('partials/footer') %>