<%- include('partials/head') %>
    <%- include('partials/navbar') %>

        <main class="main">
            <header class="header-container">
                <div class="header-item">
                    <p>Welcome, I'm Marc Rios</p>
                    <h1>A Web Developer from Los Angeles</h1>
                    <p>
                        This should show the different tech skills i have, like
                        languages, frameworks, libraries.. Lorem ipsum dolor sit
                        amet, consectetur adipisicing elit. Natus architecto sit
                        vitae ducimus voluptatibus ipsa voluptatem minus ex dolore
                        velit, officiis sed sunt quos assumenda doloremque doloribus.
                    </p>
                    <p id="see-projects">
                        <a href="#featured-projects">See Projects</a>
                        <!-- img tag? for down arrow icon. Also, both text and logo link to some place -->
                    </p>                    
                </div>
                <div class="header-item">
                    <img src="/images/building-websites.svg"
                        alt="simple illustration of 3 people building a giant web browser" 
                        id="building-websites">
                    <p id="games-gallery-cta">
                        Want to play some games? Go to my
                        <a href="games.ejs" class="local-links">games gallery</a>
                    </p>
                </div>
            </header>
            <section id="projects-section">
                <div id="projects-container">
                    <h2>Projects</h2>
                    <div class="project-item">
                        <h3>Name of Project One</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste fugit
                        debitis, quae, totam natus sapiente odit, saepe rerum ipsam maiores
                        eligendi error consequatur nulla doloribus repudiandae expedita
                        similique quisquam exercitationem.</p>
                    </div>
                    <div class="project-item">
                        <h3>Name of Project Two</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste fugit
                        debitis, quae, totam natus sapiente odit, saepe rerum ipsam maiores
                        eligendi error consequatur nulla doloribus repudiandae expedita
                        similique quisquam exercitationem.</p>
                    </div>
                    <div class="project-item">
                        <h3>Name of Project Three</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste fugit
                        debitis, quae, totam natus sapiente odit, saepe rerum ipsam maiores
                        eligendi error consequatur nulla doloribus repudiandae expedita
                        similique quisquam exercitationem.</p>
                    </div>
                </div>
            </section>

        </main>

        <%- include('partials/footer') %>