<%- include('partials/head') %> 
<%- include('partials/navbar') %>

    <section class="my-projects-section">
        <div class="my-projects-container">            
            <div class="my-projects-title">
                <p>Web, Desktop & Console Apps</p>
                <h2>My Software Projects</h2>
                <p>There are full-stack web and desktop applications.
                   The demos the projects are short wallk-through videos.  
                </p>
            </div>
            <!-- first project -->
            <div class="my-project-item">
                <div class="my-project-info">
                    <h3>Name of Project One</h3>
                    <img src="/images/chevron-down.png"
                            alt="arrow to expand details of project 1"
                            class="expand-arrow">                         
                </div>
                <!-- collapsable/hidden project info section below -->
                        
                    <div class="my-hidden-proj-info">
                        <div class="my-hidden-proj-item">
                            <div>
                                <img src="/images/project-business-plan-design.jpg"
                                alt=""
                                class="demo-gif">
                            </div>                                
                            <div>
                                <ul class="proj-links">
                                    <li class="link-item">Demo</li>
                                    <li class="link-item">Live</li>
                                    <li class="link-item">Github</li>
                                </ul>
                            </div>
                        </div>
                        <div class="my-hidden-proj-item">
                            <p>
                                This is the detailed desritpion of the project, and will
                                be placed at the right of the demo gif. The number of lines
                                is variable but im.
                            </p>
                            <div class="tech-specs">
                                <ul>
                                    <li>Languages</li>
                                    <li>item 1</li>
                                    <li>item 2</li>
                                    <li>item 3</li>
                                </ul>    
                                <ul>
                                    <li>Frameworks</li>
                                    <li>item 1</li>
                                    <li>item 2</li>
                                    <li>item 3</li>
                                </ul>
                                <ul>
                                    <li>Packages</li>
                                    <li>item 1</li>
                                    <li>item 2</li>
                                    <li>item 3</li>
                                </ul>
                            </div>                                
                        </div>                         
                    </div>
                
            </div>
            <!-- second featured project -->
            <div class="my-project-item">
                <div class="my-project-info">
                    <h3>Name of Project Two</h3>
                    <img src="/images/chevron-down.png"
                            alt="arrow to expand details of project 2"
                            class="expand-arrow">                         
                </div>
                <div class="my-hidden-proj-info">
                    <div class="my-hidden-proj-item">
                        <div>
                            <img src="/images/project-business-plan-design.jpg"
                                alt=""
                                class="demo-gif">
                        </div>                                
                        <div>
                            <ul class="proj-links">
                                <li class="link-item">Demo</li>
                                <li class="link-item">Live</li>
                                <li class="link-item">Github</li>
                            </ul>
                        </div>
                    </div>
                    <div class="my-hidden-proj-item">
                        <p>
                            This is the detailed desritpion of the project, and will
                            be placed at the right of the demo gif. The number of lines
                            is variable but im.
                        </p>
                        <div class="tech-specs">
                            <ul>
                                <li>Languages</li>
                                <li>item 1</li>
                                <li>item 2</li>
                                <li>item 3</li>
                            </ul>    
                            <ul>
                                <li>Frameworks</li>
                                <li>item 1</li>
                                <li>item 2</li>
                                <li>item 3</li>
                            </ul>
                            <ul>
                                <li>Packages</li>
                                <li>item 1</li>
                                <li>item 2</li>
                                <li>item 3</li>
                            </ul>
                        </div>                                
                    </div>                         
                </div>
            </div>
            <!-- third featured project -->
            <div class="my-project-item">
                <div class="my-project-info">
                    <h3>Name of Project Three</h3>
                    <img src="/images/chevron-down.png"
                            alt="arrow to expand details of project 3"
                            class="expand-arrow">                         
                </div>
                <div class="my-hidden-proj-info">
                    <div class="my-hidden-proj-item">
                        <div>
                            <img src="/images/project-business-plan-design.jpg"
                                alt=""
                                class="demo-gif">
                        </div>                                
                        <div>
                            <ul class="proj-links">
                                <li class="link-item">Demo</li>
                                <li class="link-item">Live</li>
                                <li class="link-item">Github</li>
                            </ul>
                        </div>
                    </div>
                    <div class="my-hidden-proj-item">
                        <p>
                            This is the detailed desritpion of the project, and will
                            be placed at the right of the demo gif. The number of lines
                            is variable but im.
                        </p>
                        <div class="tech-specs">
                            <ul>
                                <li>Languages</li>
                                <li>item 1</li>
                                <li>item 2</li>
                                <li>item 3</li>
                            </ul>    
                            <ul>
                                <li>Frameworks</li>
                                <li>item 1</li>
                                <li>item 2</li>
                                <li>item 3</li>
                            </ul>
                            <ul>
                                <li>Packages</li>
                                <li>item 1</li>
                                <li>item 2</li>
                                <li>item 3</li>
                            </ul>
                        </div>                                
                    </div>                         
                </div>
            </div>
        </div>
    </section>

<%- include('partials/footer') %> 