
body {
    background-color: brown;
}

.nav-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.nav-item {   
    width: 12em;
    list-style-type: none;
}

.header-container {
    display: flex;

}

.header-item {
    width: 50%;
    height: 40em;
}

.header-item img {
    width: 70%;
    height: 70%;
    
}
